# Get the data

Depending on each case your data may look a little bit different but we should start our portfolio optimization by acquiring information on a set of STOCK to better understand their behaviour trough, in this case, one year of activity in the market.

In [1]:
import pandas as pd

hdfc_data = pd.read_csv("HDFCBANK.NS.csv")
hdfc_data["Asset"] = "HDFC"
hindunilvr_data = pd.read_csv("HINDUNILVR.NS.csv")
hindunilvr_data["Asset"] = "HINDUNILVR"
infy_data = pd.read_csv("INFY.csv")
infy_data["Asset"] = "INFY"
tcs_data = pd.read_csv("TCS.csv")
tcs_data["Asset"] = "TCS"
hdfc_date = set(hdfc_data.Date.unique())
hindunilvr_date = set(hindunilvr_data.Date.unique())
infy_date = set(infy_data.Date.unique())
tcs_date = set(tcs_data.Date.unique())
final_date = list(hdfc_date.intersection(hindunilvr_date).intersection(infy_date).intersection(tcs_date))
hdfc_data = hdfc_data[hdfc_data['Date'].isin(final_date)]
hindunilvr_data = hindunilvr_data[hindunilvr_data['Date'].isin(final_date)]
infy_data = infy_data[infy_data['Date'].isin(final_date)]
tcs_data = tcs_data[tcs_data['Date'].isin(final_date)]
data = pd.concat([hdfc_data, hindunilvr_data, infy_data, tcs_data])
data.to_csv("data.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Asset
0,09-11-2017,913.500000,917.500000,910.549988,913.924988,886.325134,1556654,HDFC
1,10-11-2017,910.849976,917.400024,906.174988,911.000000,883.488525,3872180,HDFC
2,13-11-2017,911.000000,911.575012,897.500000,906.775024,879.391174,1667936,HDFC
3,14-11-2017,907.950012,909.500000,900.000000,901.174988,873.960144,2356234,HDFC
4,15-11-2017,899.000000,901.825012,894.000000,900.125000,872.941956,3074184,HDFC

Following this we will calculate the average expected revenue for each asset. This is done by getting the difference between *opening* and *closing* time scaled to the opening price. This way we make sure each asset is independently evaluated.

We will also compute the covariance between each asset so that we can consider this values as part of our portfolio diversification constraint.

In [27]:
from cmath import exp
import numpy as np

# Unique asset list
asset_list = data["Asset"].unique()

exp_ret = {}
return_list = []
for asset in asset_list:
    open_price = np.array(data[data["Asset"] == asset]["Open"].astype("float"))
    close_price = np.array(data[data["Asset"] == asset]["Close"].astype("float"))
        
    # Sign will be used to indicate the value gradient direction
    returns = ((close_price - open_price)/open_price)
    exp_ret[asset] = returns.mean()
    return_list.append(returns)

# Expected return on each asset
mu = [i for i in exp_ret.values()]   
    
# Compute covariance between returns
sigma = np.cov(np.vstack(return_list))

Here $\mu$ is the value associated with the expected average return for each asset.

In [28]:
for i,v in zip(asset_list, mu):
    print(f"Expected average return for asset {i} is {v}")

Expected average return for asset HDFC is -0.00038200176428853267
Expected average return for asset HINDUNILVR is -0.00051966241188483
Expected average return for asset INFY is 0.0003600898303563155
Expected average return for asset TCS is 0.0005673771973973779

And $\sigma$ is the covariance between those very same assets.

In [29]:
sigma

array([[2.09712849e-04, 5.33309995e-05, 4.86466357e-06, 4.55537263e-05],
       [5.33309995e-05, 2.04947886e-04, 2.09707848e-06, 1.98879955e-06],
       [4.86466357e-06, 2.09707848e-06, 1.40799458e-04, 9.42808004e-05],
       [4.55537263e-05, 1.98879955e-06, 9.42808004e-05, 1.67638832e-03]])

It is important to know what the cost is of each asset so that we can also limit the budget we would like to spend in our investment.

In [31]:
filter = data.groupby("Asset").agg({"Date":max}).reset_index()
costs = data.merge(filter, how='inner').drop_duplicates()
cost_list = costs[["Asset","Open"]].to_dict('records')

We will store this information so that it can be used later.

In [32]:
import json

# Serializing json  
data = {"mu" : mu, "sigma": sigma.tolist(), "assets": cost_list} 
json_object = json.dumps(data, indent = 4)

with open("data.json", "w") as file:
    file.write(json_object)